/// LIGHT THEME COLORS
$primary_light: #764ab9;
$light_body: rgb(264, 56, 77, 0.09%);

/// DARK THEME COLORS
$primary_dark: #442573;

/// NORMAL COLORS
$black: #000000;
$white: #ffffff;

/// OTHER PROPERTIES
$borderRadius: 5px;
